[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stweet = "*"
arrow = "*"
tweepy = "*"
twint = "*"
mecab = "*"
wordcloud = "*"
nlplot = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.11.0"
